<!DOCTYPE html>
<html lang="ja">
    <head>
        <mata charset="UTF-8">
            <title>お年寄り向けカレンダー</title>
            <style>
                body{
                    front-family: sans-serif;
                    text-align: center;
                }
                .today{
                    front-size: 48px;
                    margin-top: 100px;
                }
            </style>
    </head>

<body>
    <div class = "today">
        {{today}}<br>
        今日
    </div>
</body>

</html>